.Button{
    background-color: #3176DE;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    border: none;
    gap: 1rem;
    height: 4rem;
    width: 14rem;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1rem;
    margin: 1rem;
}

.Button:hover{
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.40);
}

.Button:active{
    background-color: #054BB4;
}