.calendar-container {
  width: 80%;
  height: 85vh;
  border-radius: 4px;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
}

.calendar-header {
  display: flex;
  align-items: center;
  padding: 8px;
}

.calendar-header-title {
  width: 20%;
  font-size: 2rem;
  margin: 0;
}

.calendar-header-add {
  font-size: 2rem;
  margin: 0;
  margin-right: 0.5rem;
  margin-left: auto;
}

.titleblue {
  color: #3176de;
}

.titlegreen {
  color: #08ac71;
}

.titlepurple {
  color: #553db5;
}

.calendar-header-button {
  background-color: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  padding: 0.5rem;
  width: 2rem;
  height: 2rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  margin-left: 0.5rem;
  color: #fff;
  background-color: #000;
}

.buttonblue {
  background-color: #3176de;
}

.buttongreen {
  background-color: #08ac71;
}

.buttonpurple {
  background-color: #553db5;
}

.calendar-body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendar-cell {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  height: 10vh;
  border: 1px solid #b5b5b5;
  font-size: 1.5rem;
  font-weight: 600;
  color: #636363;
  overflow: auto;
  gap: 2px;
  flex-direction: column;
  overflow: auto;
}

.calendar-cell::-webkit-scrollbar {
  display: none;
}

.empty-cell {
  background-color: #dadada;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 2px;
  flex-direction: column;
  height: 10vh;
  border: 1px solid #b5b5b5;
  font-size: 1.5rem;
  font-weight: 600;
  color: #636363;
  overflow: auto;
}

.empty-cell::-webkit-scrollbar {
  display: none;
}

.week-day {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 5vh;
  border-bottom: 1px solid #b5b5b5;
  font-size: 1.5rem;
  font-weight: 600;
  color: #000;
}

.filler-cell-x {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  height: 5vh;
  border-top: 1px solid #b5b5b5;
}

.filler-cell-x + .filler-cell-x {
  border-left: 2px solid #b5b5b5;
}

.filler-cell-y {
  display: flex;
  border: 1px solid #b5b5b5;
}

.week-day + .week-day {
  border-left: 2px solid #b5b5b5;
}

.event {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30%;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
}

.blue {
  background-color: #3176decc;
}

.purple {
  background-color: #553db5cc;
}

.green {
  background-color: #08ac71cc;
}

.day {
  padding-right: 4px;
}

.current-day {
  background-color: #3176de;
  color: #fff;
  border-radius: 100%;
  padding: 4px;
}
